@import "src/styles/functions";

$desktop: 1200px;
$tablet-horizontal: 1024px;
$tablet: 900px;
$mobile: 768px;
$mobile-small: 565px;

$header-height: 70;
$drawer-width: 500;

$border-gray-color: #c4c4c4;
$border-light-gray-color: #dee2e6;
$primary-color: #3f51b5;

$black: #000;
$white: #fff;

$black-light: #231F20;

$dark-color: #525252;
$secondary-color: #163c5a;
$primary-color: #e66f3e;
$primary-color-light: #FFF4F3;
$grey-color: #e8ecef;
$light-gray: #eef0ef;
$dark-grey-color: #666666;
$text-gray-color: #7A7A7A;
$green: #219653;
$orange-color: #e66f3e;

$yellow-color: #FFE15C;
$warning-color: #FFF0AE;

$error-color: #eb5757;

$link-blue: #2F80ED;

$background-light-gray: #f6f7f7;
$background-light-gray-2: #fbfbfb;
$background-gray: #f3f7f7;
$background-blue: #163c5a;

$hover-light-gray: #f6f7f7;
$hover-blue: #1d4f76;

$border-middle-gray: #adadad;
$border-light-gray: #e8ecef;
$border-input-middle-gray: #d6d6d6;
$border-light-green: #406464;
$text-color: #303030;

